
.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: Poppins;
 padding: 3rem;
 

}
.container > img {
 margin-top: 3.5rem;   
 max-width: 39.5rem;
 
 
}
.container > h1 {
    font-size: 3.6rem;
    font-weight: bolder;
    margin-top: 3.6rem;
    
}

.container > h4 {
 font-size: smaller;
 font-size: 1.6rem;
 font-weight: lighter;
 

 

}

