html {
  font-size: 62.5%;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.sectionStyle {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 2rem;
}